.canvas {
  border: #232323 solid 1px;
}
h1 {
  color: #0099ff;
  text-align: center;
}
.desc {
  text-align: center;
  color: #0099ff;
}
.txtalgc {
  text-align: center;
  color: #0099ff;
}
.inputarea {
  margin-top: 1vh;
  text-align: center;
  color: #0099ff;
}
.vib {
  display: block;
  width: 80vw;
  margin: 0 auto;
}
.viewbox {
  text-align: center;
  top: 12vw;
  position: relative;
}
.point {
  top: 5vw;
  position: relative;
}
.pp {
  position: relative;
  left: 17vw;
  color: #ff4747;
  font-size: 3vw;
  top: -5vw;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  transition: all 0.5s ease-out 0s;
}
.pd {
  position: relative;
  left: 12.25vw;
  color: #48ad59;
  font-size: 3vw;
}
.ps {
  position: relative;
  left: 19vw;
  color: #178bce;
  font-size: 3vw;
}
.btn {
  color: #fff;
  background-color: #0099ff;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-out 0s;
}
.btn:hover {
  background-color: #0077ff;
  border-radius: 10px;
}
.blockbox {
  display: inline-block;
  width: 8vw;
  height: 20px;
  vertical-align: bottom;
  background-color: #0099ff;
  color: #fff;
  border-radius: 5px;
  position: absolute;
}
@media screen and (min-width: 1300px) {
  .bottom {
    position: relative;
    top: 15vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1300px) {
  .bottom {
    position: relative;
    top: 18vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .bottom {
    position: relative;
    top: 20vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}
@media screen and (min-width: 880px) and (max-width: 1000px) {
  .bottom {
    position: relative;
    top: 25vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}
@media screen and (max-width: 880px) {
  .bottom {
    position: relative;
    top: 35vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}
.inpu {
  border: #0099ff solid 1px;
  border-radius: 5px;
  font-size: 4vw;
  width: 8vw;
  margin-right: -1px;
  color: #0099ff;
  text-align: center;
}
.one {
  left: 9vw;
  background-color: #00dda6;
  height: 49px;
}
.two {
  left: 18vw;
  background-color: #0077ff;
  height: 96px;
}
.three {
  left: 27vw;
  background-color: #e62a53;
  height: 32px;
}
.four {
  left: 36vw;
  background-color: #f0cd08;
  height: 128px;
}
.five {
  left: 45vw;
  background-color: #289714;
  height: 57px;
}
.six {
  left: 54vw;
  background-color: #842ab8;
  height: 64px;
}
.seven {
  left: 63vw;
  background-color: #db5000;
  height: 22px;
}
