@bordercolor: #232323;
@bordersize: 1px;
@datacolor: #0099ff;
@datawidth: 8vw;
@color1: #00dda6;
@color2: #0077ff;
@color3: #e62a53;
@color4: #f0cd08;
@color5: #289714;
@color6: #842ab8;
@color7: #db5000;
@point1: #48ad59;
@point2: #178bce;

h1 {
  color: @datacolor;
  text-align: center;
}
.desc {
  text-align: center;
  color: @datacolor;
}

.txtalgc {
  text-align: center;
  color: @datacolor;
}

.inputarea {
  margin-top: 1vh;
  .txtalgc;
}

.vib {
  display: block;
  width: 80vw;
  margin: 0 auto;
}
.viewbox {
  text-align: center;
  top: 12vw;
  position: relative;
}
.point {
  //text-align: center;
  top: 5vw;
  position: relative;
}
.pp {
  position: relative;
  left: 17vw; //12 21 30 39 48 57 66
  color: #ff4747;
  font-size: 3vw;
  top: -5vw;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  transition: all 0.5s ease-out 0s;
}
.pd {
  position: relative;
  left: 12.25vw; // 12.25 21.25 30.25 39.25 48.25 57.25 66.25
  color: @point1;
  font-size: 3vw;
}
.ps {
  position: relative;
  left: 19vw; //7.75 19 25.5 34.5 43.5 52.5 61.5
  color: @point2;
  font-size: 3vw;
}
.btn {
  color: #fff;
  background-color: @datacolor;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-out 0s;
}
.btn:hover {
  background-color: darken(@datacolor, 20%);
  //border-radius: 10px;
}
.btn:active {
    background-color: darken(@datacolor, 30%);;
}
.blockbox {
  display: inline-block;
  width: @datawidth;
  height: 20px;
  vertical-align: top;
  background-color: @datacolor;
  color: #fff;
  border-radius: 5px;
  // transition: all 1s ease-in-out 0s;
  position: absolute;
}

@media screen and (min-width: 1300px) {
  .bottom {
    position: relative;
    top: 15vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1300px) {
  .bottom {
    position: relative;
    top: 18vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .bottom {
    position: relative;
    top: 20vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}
@media screen and (min-width: 880px) and (max-width: 1000px) {
  .bottom {
    position: relative;
    top: 25vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}
@media screen and (max-width: 880px) {
  .bottom {
    position: relative;
    top: 35vw;
    text-align: center;
    color: coral;
    font-size: 14pt;
  }
}

.input-box {
    border: 1px solid @datacolor;
    border-radius: 5px;
    font-size: 2vw;
    color: @datacolor;
    text-align: center;
    height: 35px;
    margin-top: 10px;
}
// .inpu {
//   border: #0099ff solid 1px;
//   border-radius: 5px;
//   font-size: 4vw;
//   width: @datawidth;
//   margin-right: -1px;
//   color: #0099ff;
//   text-align: center;
// }

.dataleftc(@num, @color) {
  left: ((@datawidth + 1) * @num);
  background-color: @color;
}

.rect0 {
  .dataleftc(1vw, @color1);
  height: 49px;
}

.rect1 {
  .dataleftc(2vw, @color2);
  height: 96px;
}

.rect2 {
  .dataleftc(3vw, @color3);
  height: 32px;
}

.rect3 {
  .dataleftc(4vw, @color4);
  height: 128px;
}

.rect4 {
  .dataleftc(5vw, @color5);
  height: 57px;
}

.rect5 {
  .dataleftc(6vw, @color6);
  height: 64px;
}

.rect6 {
  .dataleftc(7vw, @color7);
  height: 22px;
}
